---
import { Icon } from "astro-icon/components";

import { profileConfig } from "@/config";
import { url } from "@utils/url";


interface Props {
    class?: string;
    style?: string;
    side?: string;
}
const { class: className, style, side = "default" } = Astro.props;
const id = `profile-${side}`;
---

<div id={id} data-swup-persist={id} class="card-base p-3">
    <div class="flex flex-col items-center">
        <div class="mb-3 mt-4">
            <img src="/assets/images/airborne-observer-logo-dark.svg" alt="Profile Image of the Author" class="lg:w-28 lg:h-28 h-20 w-20 aspect-square dark:hidden" />
            <img src="/assets/images/airborne-observer-logo.svg" alt="Profile Image of the Author" class="lg:w-28 lg:h-28 h-20 w-20 aspect-square hidden dark:block" />
        </div>
        <div class="w-full text-center">
            <div class="font-bold text-xl mb-1 dark:text-neutral-50 transition">{profileConfig.name}</div>
            <div class="h-1 w-5 bg-(--primary) mx-auto rounded-full mb-2 transition"></div>
            <div class="text-center text-neutral-400 mb-2.5 transition">{profileConfig.bio}</div>
            <div class="flex gap-2 justify-center mb-1">
                {profileConfig.links.length > 1 && profileConfig.links.map(item =>
                        <a rel="me" aria-label={item.name} href={item.url} target="_blank" class="btn-regular rounded-lg h-10 w-10 active:scale-90">
                            <Icon name={item.icon} class="text-[1.5rem]"></Icon>
                        </a>
                )}
                {profileConfig.links.length == 1 && <a rel="me" aria-label={profileConfig.links[0].name} href={profileConfig.links[0].url} target="_blank"
                                        class="btn-regular rounded-lg h-10 gap-2 px-3 font-bold active:scale-95">
                    <Icon name={profileConfig.links[0].icon} class="text-[1.5rem]"></Icon>
                    {profileConfig.links[0].name}
                </a>}
            </div>
        </div>
    </div>
</div>